/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    quick-tap-ms = <110>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <25 26>;
            layers = <0>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
            layers = <0>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <27 28>;
            layers = <0>;
        };

        game_mode {
            bindings = <&tog 6>;
            key-positions = <36 37 38 39 40 41>;
        };

        mmo_game_mode_n7 {
            bindings = <&kp N7>;
            key-positions = <1 2>;
            layers = <6>;
        };

        mmo_game_mode_n8 {
            bindings = <&kp N8>;
            key-positions = <2 3>;
            layers = <6>;
        };

        mmo_game_mode_n9 {
            bindings = <&kp N9>;
            key-positions = <3 4>;
            layers = <6>;
        };

        mmo_game_mode_n4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <13 14>;
            layers = <6>;
        };

        mmo_game_mode_n5 {
            bindings = <&kp NUMBER_5>;
            key-positions = <14 15>;
            layers = <6>;
        };

        mmo_game_mode_n6 {
            bindings = <&kp NUMBER_6>;
            key-positions = <15 16>;
            layers = <6>;
        };

        mmo_game_mode_n1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <25 26>;
            layers = <6>;
        };

        mmo_game_mode_n2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <26 27>;
            layers = <6>;
        };

        mmo_game_mode_n3 {
            bindings = <&kp NUMBER_3>;
            key-positions = <27 28>;
            layers = <6>;
        };

        colemak_dh_layer {
            bindings = <&tog 7>;
            key-positions = <1 2 3 4 10 9 8 7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q           &kp W       &kp E        &kp R         &kp T      &kp Y        &kp U                &kp I         &kp O            &kp P                    &none
&none  &mt LEFT_WIN A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G      &kp H        &mt RSHIFT J         &mt RCTRL K   &mt RIGHT_ALT L  &mt RIGHT_WIN SEMICOLON  &none
&none  &kp Z           &kp X       &kp C        &kp V         &kp B      &kp N        &kp M                &kp COMMA     &kp DOT          &kp FSLH                 &none
                                   &lt 5 ESC    &lt 1 SPACE   &kp TAB    &lt 3 ENTER  &lt 2 RC(BACKSPACE)  &lt 4 DELETE
            >;
        };

        navigation {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none         &none     &none      &none       &none    &none    &none     &none     &none    &none      &none
&none  &kp LEFT_WIN  &kp LALT  &kp LCTRL  &kp LSHIFT  &none    &none    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &none
&none  &none         &none     &none      &none       &none    &none    &none     &kp HOME  &kp END  &none      &none
                               &none      &trans      &none    &kp RET  &kp BSPC  &kp DEL
            >;
        };

        number {
            bindings = <
&none  &none   &kp N7  &kp N8   &kp N9    &kp PLUS     &none  &none      &none      &none     &none          &none
&none  &kp N0  &kp N4  &kp N5   &kp N6    &kp MINUS    &none  &sk RSHFT  &sk LCTRL  &sk LALT  &sk LGUI       &none
&none  &none   &kp N1  &kp N2   &kp N3    &kp STAR     &none  &none      &none      &none     &kp BACKSPACE  &none
                       &kp DOT  &kp FSLH  &kp EQUAL    &none  &none      &none
            >;
        };

        function {
            bindings = <
&none  &kp F12  &kp F7  &kp F8  &kp F9  &none    &none  &none      &none      &none     &none     &none
&none  &kp F11  &kp F4  &kp F5  &kp F6  &none    &none  &sk RSHFT  &sk LCTRL  &sk LALT  &sk LGUI  &none
&none  &kp F10  &kp F1  &kp F2  &kp F3  &none    &none  &none      &none      &none     &none     &none
                        &none   &none   &none    &none  &none      &none
            >;
        };

        symbol {
            bindings = <
&none  &kp TILDE  &none      &none      &kp GRAVE  &kp CARET    &none  &none      &none      &none     &none     &none
&none  &kp AT     &kp DLLR   &kp MINUS  &kp SQT    &none        &none  &sk RSHFT  &sk LCTRL  &sk LALT  &sk LGUI  &none
&none  &kp HASH   &kp PRCNT  &kp UNDER  &kp DQT    &none        &none  &none      &none      &none     &none     &none
                             &kp BSLH   &none      &none        &none  &none      &none
            >;
        };

        code {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &kp AMPS  &kp EXCL  &kp PIPE  &none     &none
&none  &none  &none  &none  &none  &none    &none  &kp LPAR  &kp RPAR  &kp LT    &kp GT    &none
&none  &none  &none  &none  &none  &none    &none  &kp LBRC  &kp RBRC  &kp LBKT  &kp RBKT  &none
                     &none  &none  &none    &none  &kp BSPC  &none
            >;
        };

        mmo_gaming {
            bindings = <
&trans  &kp Q  &kp W  &kp E       &kp R      &kp T           &kp Y      &kp U   &kp I      &kp O    &kp P     &trans
&trans  &kp A  &kp S  &kp D       &kp F      &kp G           &kp H      &kp J   &kp K      &kp L    &kp SEMI  &trans
&trans  &kp Z  &kp X  &kp C       &kp V      &kp B           &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &kp ESCAPE  &kp SPACE  &kp LEFT_ALT    &kp ENTER  &trans  &trans
            >;
        };

        colemak-dh {
            bindings = <
&none  &kp Q           &kp W           &kp F        &kp P             &kp B     &kp J   &kp L              &kp U        &kp Y            &kp SEMI         &none
&none  &mt LEFT_WIN A  &mt LEFT_ALT R  &mt LCTRL S  &mt LEFT_SHIFT T  &kp G     &kp M   &mt RIGHT_SHIFT N  &mt RCTRL E  &mt RIGHT_ALT I  &mt RIGHT_WIN O  &none
&none  &kp Z           &kp X           &kp C        &kp D             &kp V     &kp K   &kp H              &kp COMMA    &kp DOT          &kp FSLH         &none
                                       &trans       &trans            &trans    &trans  &trans             &trans
            >;
        };
    };
};
